@using EPR.Payment.Portal.Common.Configuration
@using Microsoft.AspNetCore.Mvc.Routing;
@model DashboardConfiguration;


@{
    var rpdRootUrl = @Model.RPDRootUrl.Url;
    var backUrl = rpdRootUrl + @Model.BackUrl.Url;
    ViewData["Title"] = Localizer["service_unavailable"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">@Localizer["service_unavailable"]</h1>

            <p class="govuk-body">@Localizer["you_could_try_again"]</p>
            <p class="govuk-body">@Localizer["you_could_pay_by_bank"]</p>

            <p class="govuk-body"><a href=@backUrl aria-label="@Localizer["return_dashboard_descriptive_text"]">@Localizer["return_to_the_dashboard"]</a></p>
        </div>
    </div>
</main>