@using EPR.Payment.Portal.Common.Constants
@using EPR.Payment.Portal.Common.Models
@model CompositeViewModel;

@{
    var rpdRootUrl = Model.DashboardConfiguration.RPDRootUrl.Url;
    var backUrl = rpdRootUrl + Model.DashboardConfiguration.BackUrl.Url;
    var registrationTaskList = rpdRootUrl + Model.DashboardConfiguration.RegistrationTaskList.Url;
}

<main class="govuk-main-wrapper govuk-!-padding-top-8" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        @Localizer["payment_successful"]
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">@Localizer[@Model.CompletePaymentViewModel.Description == PaymentDescription.RegistrationFee ? "registration_fee_paid" : "packaging_fee_paid"]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @if (!string.IsNullOrEmpty(Model.OrganisationName))
            {
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@Model.OrganisationName</h1>
            }
            <p class="govuk-body">
                @Localizer["email_confirmation_sent"] <a href="mailto:@Model.CompletePaymentViewModel.Email" aria-label="@Model.CompletePaymentViewModel.Email">@Model.CompletePaymentViewModel.Email</a>
            </p>
            <p class="govuk-body">
                @Localizer[@Model.CompletePaymentViewModel.Description == PaymentDescription.RegistrationFee ? "application_reference_number" : "packaging_reference_number"]
                @Model.CompletePaymentViewModel.Reference
            </p>
            <p></p>
            <h2 class="govuk-heading-s">@Localizer["what_happens_next"]</h2>
            <p></p>
            <p class="govuk-body">
                @Localizer[@Model.CompletePaymentViewModel.Description == PaymentDescription.RegistrationFee ? "last_step_before_review" : "packaging_last_step"]
            </p>
            <div class="govuk-button-group">
                @if (Model.CompletePaymentViewModel.Description == PaymentDescription.RegistrationFee)
                {
                    <a href=@registrationTaskList class="govuk-button" type="submit" aria-label="@Localizer["submit_registration_application_descriptive_text"]">@Localizer["submit_registration_application"]</a>
                }
            </div>
            <p class="govuk-body">
                <a href=@backUrl aria-label="@Localizer["return_to_dashboard_descriptive_text"]">@Localizer["return_dashboard"]</a>
            </p>
            <p></p>
        </div>
    </div>
</main>