@using EPR.Payment.Portal.Common.Configuration
@using EPR.Payment.Portal.Common.Constants
@using EPR.Payment.Portal.Common.Enums
@using EPR.Payment.Portal.Common.Models
@using Microsoft.AspNetCore.Mvc.Routing;
@using EPR.Payment.Portal.Common.Enums;
@using EPR.Payment.Portal.Common.Extensions;
@model CompositeViewModel;

@{
    var backUrl = "";
    var registrationTaskList = "";
    if (@Model.completePaymentViewModel.RequestorType == RequestorType.Reprocessors.ToString() || @Model.completePaymentViewModel.RequestorType == RequestorType.Exporters.ToString())
    {
        var repExpRootUrl = @Model.dashboardConfiguration.RepExpRootUrl.Url;
        backUrl = repExpRootUrl + @Model.dashboardConfiguration.RepExpBackUrl.Url;
        registrationTaskList = repExpRootUrl + @Model.dashboardConfiguration.RegistrationTaskList.Url;
    }
    else
    {

        var rpdRootUrl = @Model.dashboardConfiguration.RPDRootUrl.Url;
        backUrl = rpdRootUrl + @Model.dashboardConfiguration.BackUrl.Url;
        registrationTaskList = rpdRootUrl + @Model.dashboardConfiguration.RegistrationTaskList.Url;
    }
    ViewData["Title"] = Localizer["payment_successful"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper govuk-!-padding-top-8" id="main-content">
    @if (Model.completePaymentViewModel.RequestorType == RequestorType.Exporters.GetEnumDescription() || Model.completePaymentViewModel.RequestorType == RequestorType.Reprocessors.GetEnumDescription())
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/GovPaySuccess/_SuccessDetailsReprocessorExporterPartial.cshtml", Model);
    }
    else
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/GovPaySuccess/_SuccessDetailsPartial.cshtml", Model);
    }
</main>