@using EPR.Payment.Portal.Common.Configuration
@using EPR.Payment.Portal.Common.Models
@using EPR.Payment.Portal.Constants
@using Microsoft.AspNetCore.Mvc.Routing;

@model CompositeViewModel;

@{    
    var repExpRootUrl = @Model.dashboardConfiguration.RepExpRootUrl.Url;
    var backUrl = repExpRootUrl + @Model.dashboardConfiguration.RepExpBackUrl.Url;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">@Localizer["payment_unsuccessful"]</h1>
        <p class="govuk-body">
            @Localizer["payment_not_completed"]
            @Localizer["regulator_review_only_after_payment"]
        </p>
        <form method="post">
            <input type="hidden" value="@Model.completePaymentViewModel.UserId" />
            <input type="hidden" value="@Model.completePaymentViewModel.OrganisationId" />
            <input type="hidden" value="@Model.completePaymentViewModel.Reference" />
            <input type="hidden" value="@Model.completePaymentViewModel.Regulator" />
            <input type="hidden" value="@Model.completePaymentViewModel.Amount" />
            <input type="hidden" value="@Model.completePaymentViewModel.Description" />
            <input type="hidden" value="@Model.completePaymentViewModel.RequestorType" />
            <p class="govuk-body">
                @(Localizer["reference_number_is"]) <strong>@Model.completePaymentViewModel.Reference</strong>.
                @(Localizer["problems_with_payment"]) <a class="govuk-link govuk-link--no-visited-state" href="@($"mailto:{EprGlobalConstants.CustomerServiceEmail}")" aria-label="@($"{Localizer["email_descriptive_text"].Value} {EprGlobalConstants.CustomerServiceEmail}")">@EprGlobalConstants.CustomerServiceEmail</a>
                @(Localizer["or_call"]) @EprGlobalConstants.CustomerServiceTelephone.
            </p>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" aria-label="@Localizer["try_online_payment_again_descriptive_text"]">
                    @Localizer["try_online_payment_again"]
                </button>
                <a href="@backUrl" class="govuk-button govuk-button--secondary" aria-label="@Localizer["go_to_homepage_descriptive_text"]">
                    @Localizer["go_to_homepage"]
                </a>
            </div>            
        </form>
    </div>
</div>